.flex{
    display: flex;
    scroll-margin-inline-start: 2rem;
   height: 80%;
   align-items: center;
    
}

.flex>*{
    margin-right: 1rem;
}

a{
    text-decoration: none;
    color: rgb(6, 187, 248);
}