.trending_Box{
    display: flex;
    flex-wrap:wrap ;
}

.poster_box{
    width: 30%;
    height: 30rem;
    border: 1px solid gray;
    margin-bottom:1rem ;
    

}

.poster_img{
    width: 100%;
   
}